#search-bar {
  display: flex;
  width: 90%;
  max-width: 400px;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #fff;
  border-radius: var(--border-radius-px);
  transition: all 250ms;

  --border-radius-px: 40px;
}

#search-bar:focus-within {
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2); /* WARN: experimental feature */
}

#search-bar label {
  padding: 5px 10px;
  padding-bottom: 3px;
  cursor: pointer;
}

#search-bar input {
  /* flex-grow: 1; */
  /* flex-shrink: 0; */
  /* flex-basis: auto; */
  flex: 1 0 auto; /* same as above */
  border: 0;
  outline: none;
}

#search-bar button {
  border: 0;
  border-radius: 0 var(--border-radius-px) var(--border-radius-px) 0;
  background-color: var(--snips-black);
  color: #fff;
  cursor: pointer;

  transition: all 250ms;
}

#search-bar button:hover {
  background-color: var(--snips-orange);
}
